# Node components
node_modules/
dist/
.env
.env.*

*.log

# Flutter components
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
build/

# Android
.gradle/
local.properties
*.keystore
*.jks

# iOS
.bundle/
Pods/
Podfile.lock

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# System
Thumbs.db
Desktop.ini
